[Desktop Entry]
Name=Libryno
Comment=Sistema de Gestão de Biblioteca
Exec=libryno
Icon=libryno
Terminal=false
Type=Application
Categories=Utility;Office;Database;
Keywords=biblioteca;gestao;biblioteca municipal;
